<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaFabriqueaBriques</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaFabriqueaBriques.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index">Accueil</a>

        @if (User.Identity.IsAuthenticated)
        {
            <p>Bienvenue, @User.Identity.Name</p>

            @if (User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "1")
            {
                <a asp-controller="Admin" asp-action="Index">Admin</a>
            }

            <a asp-controller="Account" asp-action="Logout">Se déconnecter</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Se connecter</a>
            <a asp-controller="Account" asp-action="Register">S'inscrire</a>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
