<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - La Fabrique A Briques</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaFabriqueaBriques.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="lego-nav">
        <div class="lego-nav-container">
            <div>
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="La Fabrique A Briques" class="logo" />
                </a>
            </div>
            
            <div class="d-flex align-items-center">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "1")
                    {
                        <a class="lego-button admin" asp-controller="Admin" asp-action="Index">Admin</a>
                    }

                    <a class="lego-button" asp-controller="Account" asp-action="Profile">Mon Profil</a>
                    <a class="lego-button" asp-controller="Store" asp-action="Cart">Mon Panier</a>
                    <a class="lego-button" asp-controller="Account" asp-action="Logout">Se déconnecter</a>
                }
                else
                {
                    <a class="lego-button" asp-controller="Account" asp-action="Login">Se connecter</a>
                    <a class="lego-button" asp-controller="Account" asp-action="Register">S'inscrire</a>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
