@{
    ViewData["Title"] = "Politique de confidentialité";
}

<div class="lego-container">
    <h2 class="lego-title">@ViewData["Title"]</h2>
    
    <div class="privacy-content">
        <p>Utilisez cette page pour détailler la politique de confidentialité de votre site.</p>
    </div>
</div>
